.ChaynsEditor {
    &.chayns-editor--disabled {
        border: none;
        [chayns-editor=image] {
            pointer-events: none;
            border: none;
            cursor: default;
        }
    }
}
