.chayns__utils__container--centered {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px; }
  .chayns__utils__container--centered-container--gap > *:not(:last-child) {
    margin-right: 15px; }
