.chayns__utils__container {
    &--datarow {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:last-child {
            margin-bottom: 5px;
        }

        &--right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            > p, h1, h2, h3, h4, h5, h6 {
                margin-bottom: 0;
                margin-top: 0;
            }
            input {
                max-width: 40vw;
            }
        }
        > p, h1, h2, h3, h4, h5, h6 {
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}
