.accordion--restricted {
  transition: background-color 0.4s, box-shadow 0.4s, border-radius 0.4s; }
  .accordion--restricted .accordion__head {
    padding-right: 5px; }
  .accordion--restricted-search .accordion__head__right .right--background-enter-active, .accordion--restricted-search .accordion__head__right .right--background-exit-active {
    display: none; }
  .accordion--restricted-search .accordion__head__right .right--background-enter-done svg.svg-inline--fa.fa-lock.react-chayns-icon,
  .accordion--restricted-search .accordion__head__right div svg.svg-inline--fa.fa-lock.react-chayns-icon {
    animation: 0.2s fadeIn; }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(10px); } }
